extends layout

block content
    h1 #[a(href="/") Creators]
    h2=title
    form(action="/api/signup" method='POST')
        .form-group
            label(for="displayName") Full Name #[br]
            input(type="text" name='displayName' placeholder='Name')
        .form-group
            label(for="email") Email adress #[br]
            input(type="email" name='email' placeholder='Email')
        .form-group
            label(for="password") Password #[br]
            input(type="password" name='password' placeholder='Password')
        button(type='submit') Signup
    span Have an account? #[a(href="/signin") Sign in]